<h1>お味噌汁の具材を選んでください</h1>

<form action="<%= ingredients_calculate_path %>" method="post" data-turbo="false">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

  <ul id="ingredient-list">
    <% @ingredients.each do |ingredient| %>
      <li>
        <label>
          <input type="checkbox" name="ingredients[]" value="<%= ingredient.name %>">
          <%= ingredient.name %> (<%= ingredient.calories %> kcal)
        </label>
      </li>
    <% end %>
  </ul>

  <button type="submit" class="button">計算する</button>
</form>